<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @estudio.Nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @estudio.Email %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @estudio.CNPJ %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @estudio.Instagram %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @estudio.Facebook %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @estudio.CEP %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @estudio.Estado %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @estudio.Cidade %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @estudio.Bairro %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @estudio.Rua %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @estudio.Numero %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @estudio.Complemento %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @estudio.Senha %>
</p>

<%= link_to 'Edit', edit_estudio_path(@estudio) %> |
<%= link_to 'Back', estudios_path %>
