<%= form_with(model: caracteristica, local: true) do |form| %>
  <% if caracteristica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(caracteristica.errors.count, "error") %> prohibited this caracteristica from being saved:</h2>

      <ul>
        <% caracteristica.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Descricao %>
    <%= form.text_field :Descricao %>
  </div>

  <div class="field">
    <%= form.label :Estilo %>
    <%= form.check_box :Estilo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
