<p id="notice"><%= notice %></p>

<h1>Caracteristicas</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Estilo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @caracteristicas.each do |caracteristica| %>
      <tr>
        <td><%= caracteristica.Descricao %></td>
        <td><%= caracteristica.Estilo %></td>
        <td><%= link_to 'Show', caracteristica %></td>
        <td><%= link_to 'Edit', edit_caracteristica_path(caracteristica) %></td>
        <td><%= link_to 'Destroy', caracteristica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Caracteristica', new_caracteristica_path %>
