= form_for @segue do |f|
  - if @segue.errors.any?
    #error_explanation
      %h2= "#{pluralize(@segue.errors.count, "error")} prohibited this segue from being saved:"
      %ul
        - @segue.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :usuario
    = f.text_field :usuario
  .field
    = f.label :caracteristica
    = f.text_field :caracteristica
  .actions
    = f.submit 'Save'
