<p id="notice"><%= notice %></p>

<h1>Tatuagems</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Link</th>
      <th>Numerosalvos</th>
      <th></th>
      <th>Idtatuador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tatuagems.each do |tatuagem| %>
      <tr>
        <td><%= tatuagem.Titulo %></td>
        <td><%= tatuagem.Link %></td>
        <td><%= tatuagem.NumeroSalvos %></td>
        <td><%= tatuagem. %></td>
        <td><%= tatuagem.IdTatuador %></td>
        <td><%= link_to 'Show', tatuagem %></td>
        <td><%= link_to 'Edit', edit_tatuagem_path(tatuagem) %></td>
        <td><%= link_to 'Destroy', tatuagem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tatuagem', new_tatuagem_path %>
