<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @tatuagem.Titulo %>
</p>

<p>
  <strong>Link:</strong>
  <%= @tatuagem.Link %>
</p>

<p>
  <strong>Numerosalvos:</strong>
  <%= @tatuagem.NumeroSalvos %>
</p>

<p>
  <strong>:</strong>
  <%= @tatuagem. %>
</p>

<p>
  <strong>Idtatuador:</strong>
  <%= @tatuagem.IdTatuador %>
</p>

<%= link_to 'Edit', edit_tatuagem_path(@tatuagem) %> |
<%= link_to 'Back', tatuagems_path %>
