<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% usuario.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <%= form.label "Foto de Perfil: " %>
   <%= form.file_field :foto_de_perfil %>
  </div>

  <div class="field">
    <%= form.label :Nome %>
    <%= form.text_field :Nome %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.email_field :Email %>
  </div>

  <div class="field">
    <%= form.label "Nome de Usuario" %>
    <%= form.text_field :NomeDeUsuario %>
  </div>

   <div class="field">
    <%= form.label "Password:" %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :CPF %>
    <%= form.text_field :CPF %>
  </div>
 
  <div class="field">
  <%= form.label "Tipo De Conta:" %>
  <%= form.select(:TipoDeConta, raw('<option value="Comum">Conta Comum</option>
                                     <option value="Tatuador">Tatuador</option>
                                    <option value="Estudio">Estudio</option>')) %>

  


  <% if @usuario.TipoDeConta == "Tatuador" %>
    <div class="field">
      <%= form.label :Celular %>
      <%= form.text_field :Celular %>
    </div>
    
    <div class="field">
      <%= form.label :Instagram %>
      <%= form.text_field :Instagram %>
    </div>
    
  <% end %>

  <div class="actions">
    <%= form.submit %>
  
  
  
  </div>
<% end %>

