<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% usuario.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nome %>
    <%= form.text_field :Nome %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :Email %>
  </div>

  <div class="field">
    <%= form.label :CPF %>
    <%= form.text_field :CPF %>
  </div>

  <div class="field">
    <%= form.label :NomeDeUsuario %>
    <%= form.text_field :NomeDeUsuario %>
  </div>

  <div class="field">
    <%= form.label :Senha %>
    <%= form.text_field :Senha %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
