<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Cpf</th>
      <th>Nome de Usuario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.Nome %></td>
        <td><%= usuario.Email %></td>
        <td><%= usuario.CPF %></td>
        <td><%= usuario.NomeDeUsuario %></td>
        <td><%= link_to 'Show', usuario %></td>
        <% if logado? && usuario.NomeDeUsuario == @usuario_atual.NomeDeUsuario %>
        <td><%= link_to 'Editar', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Excluir meu perfil', usuario_path(usuario_atual), method: :delete, data: {confirm: "Você é corno?"} %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if !logado? %>
<%= link_to 'New Usuario', new_usuario_path %>
<%end%>