<p id="notice"><%= notice %></p>

<p>
  <% if @usuario.foto_de_perfil.attached? %>
  <img src ="<%=(url_for(@usuario.foto_de_perfil))%>">
  <% end %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @usuario.Nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.Email %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @usuario.CPF %>
</p>

<p>
  <strong>Nome de Usuario:</strong>
  <%= @usuario.NomeDeUsuario %>
</p>

<p>
  <strong>Tipo de Conta: </strong>
  <%= @usuario.TipoDeConta %>
</p>

<% if @usuario.TipoDeConta == 'Tatuador' %>
<p>
  <strong>Instagram: </strong>
  <%= @usuario.Instagram %>
</p>


<% end %>

<% if logado? && @usuario.NomeDeUsuario == usuario_atual.NomeDeUsuario %>
<%= link_to 'Edit', edit_usuario_path(usuario_atual) %>
<% end %>

<%= link_to 'Back', usuarios_path %>

<% if logado? && @usuario.NomeDeUsuario == usuario_atual.NomeDeUsuario && @usuario.TipoDeConta == "Tatuador" %>
  <%= link_to 'Novo Post', new_post_path %>
<% end %>

<% if logado? %>
<%= link_to 'Logout', logout_path, method: :delete %>
<% end %>


<br><br>
<% if @usuario.TipoDeConta == "Tatuador" %>
<%= "Posts do usuario: " %>
  <% @posts.each do |post| %>
    <%if post.usuario.NomeDeUsuario == @usuario.NomeDeUsuario %>
    <ul>
      <li><%= link_to post.titulo, post_path(post) %></li>
    </ul>
    <% end %>
  <% end %>
<% end %>

